{% load static %}

<header>
    <nav class="header-nav">
        <ul class="logo-block">
            <li class="logo"> <a href="/">مدونة</a></li>
            <li>
                <p>what would you like to share with the world today?</p>
            </li>
        </ul>
        
        <ul class="header-subnav">
            <li>
                {% block search %}
                    بحث
                {% endblock search %}
            </li>
            <li>
                login/signup
            </li>
        </ul>
    </nav> 

</header>