{% load static %}

<header>
    <nav class="header-nav">
        <ul>
            <li>
                مدونة
            </li>
            <li>
                {% block search %}
                    بحث
                {% endblock search %}
            </li>
        </ul>
    </nav> 
    
    <section class="welcome-section">
        {% block welcome %}
            <h2>Welcom!</h2>
            <p>what would you like to share with the world today?</p>
        {% endblock welcome %}
    </section>

</header>