{% extends 'layouts/base.html' %}

{% block title %}Specific Page Title{% endblock %}

{% block content %}

<aside>
    {% block user_blog_actions %}
    <ul>
        <li>write a blog</li>
        <li>archives</li>
        <li>porfile</li>
    </ul>
    {% endblock user_blog_actions %}
</aside>

<main class="blog-area">
    <nav class="blog-categories-nav">
        <ul>
            <li>
                category 1
            </li>
            <li>
                category 2
            </li>
        </ul>
    </nav>

    <div class="blogs">
        {% block blogs %}
            blogs
        {% endblock blogs %}
    </div>
</main>

{% endblock content %}