{% extends 'layouts/base.html' %}

{% load static %}

{% block title %}Blog{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/blog_listing.css' %}?{% now 'U' %}">
{% endblock %}

{% block content %}
<main class="blog-area">
    <nav class="blog-categories-nav">
        <form action="/" method="post">
            {% csrf_token %}
            <button type="submit" name="category" value="all" class="{% if selected_category == 'all' %}active{% endif %}">All</button>
            {% for category in categories %}
                <button type="submit" name="category" value="{{ category }}" class="{% if selected_category == category %}active{% endif %}">{{ category }}</button>
            {% endfor %}
        </form>
    </nav>

    <div class="blogs">
        {% block blogs %}
        <div class="cards">
            {% for user_post in posts %}
            <div class="blog-post-card">
                <h2 class="title">{{ user_post.title }}</h2>
                <p class="category">{{ user_post.category }}</p>
                <p class="date">{{ user_post.date }}</p>
                <p class="author">Written by: {{ user_post.written_by }}</p>
                <button>
                    <a href="{% url 'blogs_app:post_detail' user_post.id %}">Read</a>
                </button>
            </div>
            {% endfor %}
        </div>
        {% endblock blogs %}
    </div>
</main>
{% endblock content %}