{% extends 'layouts/base.html' %}

{% load static %}

{% block title %}blog{% endblock %}

{% block content %}

<main class="blog-area">
    <nav class="blog-categories-nav">
        <ul>
            <li>
                <button>All</button> 
            </li>
            {% for category in categories %}
                <li>
                    <button>{{ category }}</button> 
                </li>
            {% endfor %}
        </ul>
    </nav>

    <div class="blogs">
        {% block blogs %}
        <div class="blog-post-card">
            {% for post in posts %}
            <h2 class="title">{{ post.title }}</h2>
            <p class="category">{{ post.category }}</p>
            <p class="date">{{ post.date }}</p>
            <p class="author">Written by: {{ post.written_by }}</p>
            <button>read</button>
            {% endfor %}
        </div>
        {% endblock blogs %}
    </div>
</main>

{% endblock content %}