{% extends 'layouts/base.html' %}

{% load static %}

{% block title %}blog{% endblock %}

{% block content %}

<main class="blog-area">
    
    <nav class="blog-categories-nav">
        <ul>
            <li>
                <button>All</button> 
            </li>
            {% for category in categories %}
                <li>
                    <button>{{ category }}</button> 
                </li>
            {% endfor %}
        </ul>
    </nav>

    <div class="blogs">
        {% block blogs %}
        <div class="cards">
            {% for user_post in post %}
            <div class="blog-post-card">
                <h2 class="title">{{ user_post.title }}</h2>
                <p class="category">{{ user_post.category }}</p>
                <p class="date">{{ user_post.date }}</p>
                <p class="author">Written by: {{ user_post.written_by }}</p>
                <button id={{user_post.id}}>
                    <a href="/{{post.id}}">read</a>
                </button>
            </div>
            {% endfor %}
        </div>
        {% endblock blogs %}
    </div>
</main>

{% endblock content %}