{% extends 'layouts/base.html' %}

{% load static %}

{% block title %}new post{% endblock %}

{% block content %}
    <form class="login-signup-newpost-form" action="my_blogs" method="post">
        {% csrf_token %}
        <label for="">post title:
            <input type="text" name="title" placeholder="Enter a title">
        </label>

        <label for="">post category:
            <select name="category">
                {% for category in categories %}
                <option value="{{ category }}">{{ category }}</option>
                {% endfor %}
            </select>
        </label>

        <p>write here!</p>
        <textarea name="blog_content" id="blog_post" cols="35" rows="5"></textarea>
        <br><br>
        <button type="submit">submit</button>
    </form>

{% endblock content %}
